<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/70502c4a77afbda891b9cddc704e19f1.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>Soulmate山楂卷🍥</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/21/16/20160921161016_64691049_250.png</string>
		<key>position</key>
		<string>Jeongeup</string>
		<key>roomid</key>
		<integer>63622570</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64691049</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/a1a2b4f19d899104f3377be26e2c83a8.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>Yc💗雷汁</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/t65ets2U43cKTHqfWouz7ATibLRVXjmgp6ya0iaC6tI0mrsBLlejAxZFUZCQRJnVNpic1lmIOhE8ya1U5T1EV0jEmZfticEnnhdt/132</string>
		<key>position</key>
		<string>无锡市</string>
		<key>roomid</key>
		<integer>63487815</integer>
		<key>serverid</key>
		<integer>5</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64197184</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/bc481d60728f79c3d01184e86e38343a.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>Meow.k💋、茉</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/t65ets2U43cKTHqfWouz7LcIaUkvlmLCRpPSeRsyQ6bRqicHJnZibqndKvKt57EiaxPBJicQ7z0ia9rzM7DhL3gcNtxrWgFRXjsyk/132</string>
		<key>position</key>
		<string></string>
		<key>roomid</key>
		<integer>60714335</integer>
		<key>serverid</key>
		<integer>2</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64643997</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/9fb2a44b6ada3d7658fc0af050630121.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>小阿晶👄。</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/19/11/20160919111710_64148074_250.png</string>
		<key>position</key>
		<string>晋中市</string>
		<key>roomid</key>
		<integer>60785740</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64148074</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/300320f6c3c782af0dfbd6d46c6461c5.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>a噢</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/XJeYryjRdrVM3DAWGiaSYmcRZ5aptnb3DbFlHxvicXM0ibmTuzCmjJSDBgHS37oTkLJSBMiaj4Cfz4iaB2XmSoiavymCkSox6N9ppa/132</string>
		<key>position</key>
		<string>大连市</string>
		<key>roomid</key>
		<integer>62326315</integer>
		<key>serverid</key>
		<integer>3</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64883411</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/2936288ef844ffe92884ba37a495a1a0.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>闰~吃西瓜的猫</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/ps68icnpRvDWbaEC9oibxpQAoict7vdqEUyo2BSOILCHlQBKTyPjj8w787oUxv2ib8Q4lSn3XSiatdOloyCqg3bePhIqCI3J8e1Fg/132</string>
		<key>position</key>
		<string>南阳市</string>
		<key>roomid</key>
		<integer>729879</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64392892</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/e4e1cec094c3441e1515736cc48d2d4c.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>木瓜嫨依姐姐</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/21/16/20160921165240_64005034_250.png</string>
		<key>position</key>
		<string>廊坊市</string>
		<key>roomid</key>
		<integer>61679721</integer>
		<key>serverid</key>
		<integer>3</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64005034</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/2520c778d5bcea5bd8d991857acb470a.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>羊咩咩</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/19/14/20160919145912_64344016_250.png</string>
		<key>position</key>
		<string>长沙市</string>
		<key>roomid</key>
		<integer>64032879</integer>
		<key>serverid</key>
		<integer>2</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64344016</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/3bdaa4af259da7d4c3d6e39d8cca4bdb.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>lhg神话肉山</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/21/14/20160921141418_64283748_250.png</string>
		<key>position</key>
		<string></string>
		<key>roomid</key>
		<integer>63727822</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64283748</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/c2a593e1236c154ff3445cebaee786a8.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>ゞ灬╭ァ傾峸。心有独钟</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/18/13/20160918133630_64068608_250.png</string>
		<key>position</key>
		<string>鞍山市</string>
		<key>roomid</key>
		<integer>61393193</integer>
		<key>serverid</key>
		<integer>3</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64068608</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/0d6fee58441b777ee1c8399082176167.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>遇见.阿段 🎈</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/20/20/20160920204943_64074994_250.png</string>
		<key>position</key>
		<string>重庆市</string>
		<key>roomid</key>
		<integer>62478140</integer>
		<key>serverid</key>
		<integer>2</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64074994</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/1d275f27d9f1480763ac477c63baa64c.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>小雪大人</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/21/11/20160921115959_64880738_250.png</string>
		<key>position</key>
		<string>郑州市</string>
		<key>roomid</key>
		<integer>60950335</integer>
		<key>serverid</key>
		<integer>6</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64880738</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/76d3d1a5ff0c920c59df757397057d16.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>God-玲</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/20/15/20160920151802_64686137_250.png</string>
		<key>position</key>
		<string>宁波市</string>
		<key>roomid</key>
		<integer>61625000</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>64686137</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/e13e0d1d3a595a6c17155cbc0326f54c.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>菲舞💋洁儿</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/21/18/20160921181828_64372612_250.png</string>
		<key>position</key>
		<string>重庆市</string>
		<key>roomid</key>
		<integer>62722660</integer>
		<key>serverid</key>
		<integer>2</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64372612</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/d77264921cf0c125d5b7fe523a7c3525.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>宴遇乌啦啦</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/20/18/20160920181931_64590118_250.png</string>
		<key>position</key>
		<string>湖州市</string>
		<key>roomid</key>
		<integer>64681051</integer>
		<key>serverid</key>
		<integer>5</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64590118</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/75fdfaf39821b868e472d9b8a88d1929.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>SH金喵🐱Ann</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/19/18/20160919182650_64839740_250.png</string>
		<key>position</key>
		<string>漳州市</string>
		<key>roomid</key>
		<integer>60098914</integer>
		<key>serverid</key>
		<integer>5</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>64839740</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/3e41ddf4e888205aafb86f3a20550efa.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>UFO、綯綯</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-09/19/16/20160919165612_63742378_250.png</string>
		<key>position</key>
		<string>长沙市</string>
		<key>roomid</key>
		<integer>60164948</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>1</integer>
		<key>useridx</key>
		<integer>63742378</integer>
	</dict>
	<dict>
		<key>allnum</key>
		<integer>0</integer>
		<key>flv</key>
		<string>http://hdl.9158.com/live/9f3bfa8c45ff2b778286ce6fe49dd4da.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>MS.大思-162</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/XJeYryjRdrVM3DAWGiaSYmbicUG5DbykdWNKNwQkIuicjwNmZpMErenTwicKiaibuJibJ9KO5IF5aEWus0vpKtG1R1T0p6Iluhzoa54/132</string>
		<key>position</key>
		<string>上海市</string>
		<key>roomid</key>
		<integer>60246042</integer>
		<key>serverid</key>
		<integer>5</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>63594820</integer>
	</dict>
</array>
</plist>
